{{!< default}}

	<!-- <div class="jumbotron">
		<div class="hero-text" style="z-index: 1;"><a href="http://localhost:3000/blog"><img alt="Mr. Robot Font" src="http://fontmeme.com/freefonts/img.php?f=37024&s=80&t=mr.%20kynd&c=CC0000"></a></div>
	</div> -->
	<!-- <div class="demo">
		<p>Demo text - <span style="color: red; display: none;"> You should see some text when I scroll</span></p>
	</div> -->
<h1>Hello fucking world</h1>
